$hi:'Monotype Corsiva';

h2,h1,h3{
    color: purple;
    font-family: $hi;

}
.special{
    color:red;
    font-family: $hi;
    font-size: 18pt;
}
.special2{
    color:yellow;
    font-family: $hi;
    font-size: 20pt;

}
.special3{
    color:green;
    font-family: $hi;
    font-size: 22pt;

}